footer.footer#contact
  .grid
    .grid__row
      .grid__column-2-4
        h3.footer__heading Chăm sóc khách hàng
        ul.footer-list
          li.footer-item
            a.footer-item__link(href='') Trung tâm trợ giúp
          li.footer-item
            a.footer-item__link(href='') Shop
          li.footer-item
            a.footer-item__link(href='') Hướng dẫn mua hàng
      .grid__column-2-4
        h3.footer__heading Giới thiệu
        ul.footer-list
          li.footer-item
            a.footer-item__link(href='') Giới thiệu
          li.footer-item
            a.footer-item__link(href='') Tuyển dụng
          li.footer-item
            a.footer-item__link(href='') Điều khoản
      .grid__column-2-4
        h3.footer__heading Danh mục
        ul.footer-list
          li.footer-item
            a.footer-item__link(href='') Động cơ
          li.footer-item
            a.footer-item__link(href='') Động cơ
          li.footer-item
            a.footer-item__link(href='/autopart/admin/login.htm') Trang quản lý
      .grid__column-2-4
        h3.footer__heading Theo dõi
        ul.footer-list
          li.footer-item
            a.footer-item__link(href='')
              i.footer-item__icon.fa-brands.fa-facebook
              | Facebook
          li.footer-item
            a.footer-item__link(href='')
              i.footer-item__icon.fa-brands.fa-instagram
              | Instagram
          li.footer-item
            a.footer-item__link(href='')
              i.footer-item__icon.fa-brands.fa-linkedin
              | Linkedin
      .grid__column-2-4
        h3.footer__heading Vào cửa hàng trên ứng dụng
        .footer__download
          img.footer__download-qr(src='./resources/img/QR_code.png', alt='Download QR')
          .footer__download-app
            a.footer__download-app-link
              img.footer__download-app-img(src='./resources/img/gg_play.png', alt='GG play')
            a.footer__download-app-link
              img.footer__download-app-img(src='./resources/img/app store.png', alt='App store')
  .footer__bottom
    .footer__text
      p.footer__text @ 2024 - No copyright
    .footer__language-area
      ul.footer__language-area
        li.footer__language-area-item Quốc gia & Khu vực:
        li.footer__language-area-item.footer__language-area-item--separate Singapore
        li.footer__language-area-item.footer__language-area-item--separate Thái Lan
        li.footer__language-area-item.footer__language-area-item--separate Malaysia
        li.footer__language-area-item.footer__language-area-item--separate Việt Nam
        li.footer__language-area-item.footer__language-area-item--separate Philippines
        li.footer__language-area-item.footer__language-area-item--separate Brazil
        li.footer__language-area-item.footer__language-area-item--separate Mexico
        li.footer__language-area-item.footer__language-area-item--separate Colombia
        li.footer__language-area-item.footer__language-area-item--separate Chile
        li.footer__language-area-item Đài Loan