doctype html
html
  head
    meta(charset='UTF-8')
    title Quên mật khẩu
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/admincss//login.css')
  body
    .wrapper
      form#form-forgot-password(action='/Library/admin/auth/change-password-enter-login', method='post')
        h2 Quên mật khẩu
        .input-field
          input(type='text', name='username', required)
          label Nhập tên đăng nhập
        if message
          span(style='color:red;') #{message}
        button(type='submit') Gửi yêu cầu
        .register
          p
            | Đã có tài khoản? 
            a(href='/login') Đăng nhập